@import '../primitives/color.primitives.css';

:root {
    /* === Base surfaces === */
    --nyt-color-background: var(--nyt-color-gray-300);
    --nyt-color-surface: var(--nyt-color-gray-300);
    --nyt-color-element: var(--nyt-color-gray-250);
  
    /* === Text colors === */
    --nyt-color-text-primary: var(--nyt-color-gray-900);
    --nyt-color-text-muted: var(--nyt-color-gray-700);
  
    /* === Accent roles === */
    --nyt-color-accent-primary: var(--nyt-color-blue-mute);
    --nyt-color-accent-secondary: var(--nyt-color-purple-mute);
    --nyt-color-accent-tertiary: var(--nyt-color-pink-mute);
    --nyt-color-accent-danger: var(--nyt-color-red-mute);
    --nyt-color-accent-warning: var(--nyt-color-yellow-mute);
    --nyt-color-accent-success: var(--nyt-color-green-mute);
    --nyt-color-accent-invert: var(--nyt-color-gray-400);
  
    --nyt-color-text-on-accent: var(--nyt-color-gray-200);
    --nyt-color-text-on-accent-invert: var(--nyt-color-gray-900);

    /* === Shadows === */
    --nyt-color-shadow: oklch(from var(--nyt-color-accent-primary) l c h / 0.25);
  
    /* === Priority highlight roles === */
    --nyt-color-priority-1: var(--nyt-color-highlight-pink);
    --nyt-color-priority-2: var(--nyt-color-highlight-red);
    --nyt-color-priority-3: var(--nyt-color-highlight-orange);
    --nyt-color-priority-4: var(--nyt-color-highlight-yellow);
    --nyt-color-priority-5: var(--nyt-color-highlight-green);
    --nyt-color-priority-6: var(--nyt-color-highlight-teal);
    --nyt-color-priority-7: var(--nyt-color-highlight-blue);
  
    /* If highlights are updated to oklch() primitives, you can do this: */
    --nyt-color-priority-1-transparent: oklch(from var(--nyt-color-highlight-pink) l c h / 0.75);
    --nyt-color-priority-2-transparent: oklch(from var(--nyt-color-highlight-red) l c h / 0.75);
    --nyt-color-priority-3-transparent: oklch(from var(--nyt-color-highlight-orange) l c h / 0.75);
    --nyt-color-priority-4-transparent: oklch(from var(--nyt-color-highlight-yellow) l c h / 0.75);
    --nyt-color-priority-5-transparent: oklch(from var(--nyt-color-highlight-green) l c h / 0.75);
    --nyt-color-priority-6-transparent: oklch(from var(--nyt-color-highlight-teal) l c h / 0.75);
    --nyt-color-priority-7-transparent: oklch(from var(--nyt-color-highlight-blue) l c h / 0.75);
  
    --nyt-color-priority-muted: var(--nyt-color-highlight-gray);
    --nyt-color-priority-muted-transparent: oklch(from var(--nyt-color-gray-700) l c h / 0.75);
  }
  