:root {
    /* === Grays === */
    --nyt-color-gray-200: oklch(0.15 0.006 270);
    --nyt-color-gray-250: oklch(0.21 0.006 270);
    --nyt-color-gray-300: oklch(0.27 0.006 270);
    --nyt-color-gray-350: oklch(0.33 0.006 270);
    --nyt-color-gray-400: oklch(0.39 0.006 270);
    --nyt-color-gray-450: oklch(0.45 0.006 270);
    --nyt-color-gray-500: oklch(0.51 0.006 270);
    --nyt-color-gray-550: oklch(0.57 0.006 270);
    --nyt-color-gray-600: oklch(0.63 0.006 270);
    --nyt-color-gray-650: oklch(0.69 0.006 270);
    --nyt-color-gray-700: oklch(0.75 0.006 270);
    --nyt-color-gray-750: oklch(0.81 0.006 270);
    --nyt-color-gray-800: oklch(0.87 0.006 270);
    --nyt-color-gray-850: oklch(0.93 0.006 270);
    --nyt-color-gray-900: oklch(0.99 0.005 270);

    /* === Colors === */
    --nyt-color-red-super: oklch(0.85 0.1 25);
    --nyt-color-red-lite: oklch(0.75 0.13 15);
    --nyt-color-red-reg: oklch(0.65 0.15 15);
    --nyt-color-red-mute: oklch(0.55 0.13 15);
    --nyt-color-red-dark: oklch(0.5 0.1 15);
    --nyt-color-pink-super: oklch(0.85 0.1 330);
    --nyt-color-pink-lite: oklch(0.75 0.13 330);
    --nyt-color-pink-reg: oklch(0.65 0.15 330);
    --nyt-color-pink-mute: oklch(0.55 0.13 330);
    --nyt-color-pink-dark: oklch(0.5 0.1 330);
    --nyt-color-purple-super: oklch(0.85 0.1 285);
    --nyt-color-purple-lite: oklch(0.75 0.13 285);
    --nyt-color-purple-reg: oklch(0.65 0.15 285);
    --nyt-color-purple-mute: oklch(0.55 0.13 285);
    --nyt-color-purple-dark: oklch(0.45 0.1 285);
    --nyt-color-blue-super: oklch(0.85 0.1 240);
    --nyt-color-blue-lite: oklch(0.75 0.13 240);
    --nyt-color-blue-reg: oklch(0.65 0.15 240);
    --nyt-color-blue-mute: oklch(0.55 0.13 240);
    --nyt-color-blue-dark: oklch(0.45 0.1 240);
    --nyt-color-green-super: oklch(0.85 0.1 140);
    --nyt-color-green-lite: oklch(0.75 0.13 140);
    --nyt-color-green-reg: oklch(0.65 0.15 140);
    --nyt-color-green-mute: oklch(0.55 0.13 140);
    --nyt-color-green-dark: oklch(0.45 0.1 140);
    --nyt-color-yellow-super: oklch(0.85 0.08 70);
    --nyt-color-yellow-lite: oklch(0.75 0.11 70);
    --nyt-color-yellow-reg: oklch(0.65 0.13 70);
    --nyt-color-yellow-mute: oklch(0.55 0.11 70);
    --nyt-color-yellow-dark: oklch(0.45 0.08 70);

    /* === Highlights === */
    --nyt-color-highlight-red: #e47b7c;
    --nyt-color-highlight-orange: #d58c3b;
    --nyt-color-highlight-yellow: #aba232;
    --nyt-color-highlight-green: #67b36a;
    --nyt-color-highlight-teal: #00b8a9;
    --nyt-color-highlight-blue: #12aedb;
    --nyt-color-highlight-pink: #d77cb1;
    --nyt-color-highlight-gray: #9c9daa;
  }