@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@import '../assets/tokens/primitives/color.primitives.css';
@import '../assets/tokens/primitives/typography.css';


@media(prefers-color-scheme: dark) {
  @import './tokens/themes/color.dark.css';
}
@media(prefers-color-scheme: light) {
  @import './tokens/themes/color.light.css';
}

h1{
    font-size: var(--nyt-type-display-lg-size);
    font-weight: var(--nyt-type-display-lg-weight);
}

h2{
    font-size: var(--nyt-type-display-md-size);
    font-weight: var(--nyt-type-display-md-weight);
}

h3{
    font-size: var(--nyt-type-display-sm-size);
    font-weight: var(--nyt-type-display-sm-weight);
}

h4{
    font-size: var(--nyt-type-display-lg-size);
    font-weight: var(--nyt-type-display-lg-weight);
}